.App {
  font-family: sans-serif;
  text-align: center;
  color: rgb(246, 255, 246);
}
h2 {
  background-color: rgb(236, 67, 0);
}
body {
  background-color: black;
}
/* button {
  width: 8rem;
  height: 4rem;
} */
span {
  font-size: 2rem;
  margin-top: 2rem;
}
.item-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  list-style-type: none;
}
